
    input{
      transition:0.5s;
    }

    input.deleteAllin, input.send{
      display: block;
      border: none;
      padding: 10px 22px;
      border-radius: 30px;
      background:#8047B8;
    }
    input.deleteAllin:hover{
      background: red;
      color:white;
    }
    

    input.send:hover{
      background: #47B8B8 ;
      color:white;
    }
    input.send:focus{
        background: #E58B1A ;
    }

  
  
  

    input.delete, input.move{
      border: none;
      padding: 5px 8px;
      border-radius: 10px;
      background:  #8047B8;
  
    }

    input.delete:hover{
      background: red;
      color:white;
    }

  
  
  
    input.move:hover{
      background: #47B8B8;
      color:white;
      }
  
  
  
  
    form.addTodo{
      width:25%;
      background-color: none;
    }
  
    form.deleteAll{
        background-color: none;
    }
  

    form label, h1{
        cursor:default;
        padding-left: 0%;
        font: small-caps 24px/1 serif;
        color: black;
  
        background-color: none;
    }
  
    .in{
        background-color: #47B8B8;
        border: 2px solid black;
        padding: 5px 14px;
        border-radius: 5px;
    }

    .big{
        color:white;
    }

    .small{
        width:25%;
        color:white;
    }

    li{
      font: 15px/1 Lucida Console;
    }
  
    .waveBackGround {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        z-index: -1;
    }
    
    .waveBackGround svg {
        position: relative;
        display: block;
        width: calc(144% + 1.3px);
        height: 323px;
    }
    
    .waveBackGround .shape-fill {
        fill: #47B8B8;
    }
    
     