*{
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
      box-sizing: border-box;
  }
  *:before,
  *:after{
      box-sizing: border-box;
  }
  html,body{
      min-height: 100%;
  }
  body{
    background-image: radial-gradient(mintcream 0%, gray 100%);
      background-color: white;
      font-family: "Trebuchet MS";
    user-select: none;
  }

  /* волна  */

  .waveBackGround {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: -1;
}

.waveBackGround svg {
    position: relative;
    display: block;
    width: calc(144% + 1.3px);
    height: 323px;
}

.waveBackGround .shape-fill {
    fill: #47B8B8;
}

 


